<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">Reject Blog Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to reject this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post" action="{{ path('app_blog_post_reject', {'id': blog_post.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('reject' ~ blog_post.id) }}">
                    <button type="submit" class="btn btn-primary">Reject</button>
                </form>
            </div>
        </div>
    </div>
</div>