{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base_error.html.twig' %}

{% block main %}
    <h1 class="fw-bold">403</h1>
    <p>You are not allowed to access this page.</p>
{% endblock %}
