{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base_error.html.twig' %}

{% block main %}
    <h1 class="fw-bold">Error</h1>
    <p>Unexpected error. Please report to the site admin.</p>
{% endblock %}
